// フラッシュバー
.flash{
  position:fixed;
  width:100%;
  top:0;
  z-index: 100;
.notice{
    background-color:$commit-color;
    color:white;
    text-align: center;
  }
  .alert{
    background-color:orangered;
    color:white;
    text-align: center;
  }
}